.card {
    border-radius:10px;
    border:none;
    border-left:5px solid #E39961;
}

table.dataTable thead .sorting_asc {
    background-image: url('../images/sort_asc.png');
}

table.dataTable thead .sorting_desc {
    background-image: url('../images/sort_desc.png');
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
      border:0px solid #000;
      box-shadow:none;
      margin:0px;
      padding:0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active {
      background:none;
      border:0px solid #000;
      box-shadow:none;
      margin:0px;
      padding:0px;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border:none;
    background: transparent;
    box-shadow: none;
}

.page-link:hover{
    color:#369094;
}

.btn:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary {
    border-color:#E39961;
    background-color:#E39961;
    color:white;
    margin-right:10px;
    margin-bottom:-10px;
    font-weight:500;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color:#369094;
    color:white;
}

*:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card h5 {
    line-height:1;
    text-transform:uppercase;
    font-size:1em;
    font-weight:600;
}

.card-body{
    text-align:left;
}

.dataTables_length {
    text-align:left;
}

.dataTables_filter {
    text-align:right;
}
.dataTables_filter label {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}
.dataTables_filter input {
    width:200px;
    margin-left:10px;
}

.dataTables_length select {
    width:55px;
}

table {
    border-radius:10px;
}

thead {
    background-color:#369094;
    color:#e9f2f0;
}

.table thead th {
    vertical-align:middle;
    font-weight:600;
}

table td{
    border-color:#e9f2f0;
}

[data-href] {
    cursor: pointer;
}

.page-link {
    color:#369094;
}

.page-item.active .page-link {
    background-color:#369094;
    border-color:#369094;
}

.table td, .table th {
    padding:.55rem;
}

table.dataTable.no-footer {
    border-bottom: 0px solid #111;
}

select[name=myTable_length]{
    margin-left:5px;
    margin-right:5px;
}