/* COLOR SCHEME
    - 243E4F - darkest
    - 369094 - dark teal
    - 6ACEBF - teal
    - e9f2f0 - lightest
    - E39961 - accent orange
*/

body {
    background-color:#e9f2f0;
    color:#243E4F;
}

a {
    color:#E39961;
}

a:hover {
    color:#369094;
}

/* NAVIGATION */

#nav {
    display:flex;justify-content:space-between;background-color:#369094;
}
#nav a {
    color:#e9f2f0;
}

#nav a:hover {
    opacity:0.8;
}

#nav a.dropdown-item {
    color:#243E4F;
}

#nav a.dropdown-item:hover {
    opacity:1;
}

#content-hold {
    text-align:center;margin-top:50px;display:flex;justify-content:center;flex-direction:column
}

#holder {
    padding:20px;background-color:white;border-radius:10px;width:400px;align-self:center;
    margin-bottom:50px;
}

.table td {
    vertical-align:middle;
}