/* COLOR SCHEME
    - 243E4F - darkest
    - 369094 - dark teal
    - 6ACEBF - teal
    - e9f2f0 - lightest
    - E39961 - accent orange
*/

body {
    background-color:#e9f2f0;
    color:#243E4F;
}

/* NAVIGATION */

#nav {
    display:flex;justify-content:space-between;background-color:#369094;
}
#nav a {
    color:#e9f2f0;
}

#nav a:hover {
    opacity:0.8;
}

#nav a.dropdown-item {
    color:#243E4F;
}

#nav a.dropdown-item:hover {
    opacity:1;
}

.card {
    border-radius:10px;
    border:none;
    border-left:5px solid #E39961;
}

.card h5 {
    line-height:1;
}