{% extends "loggedin.html" %}

{% block styling %}
<link rel="stylesheet" type="text/css" href="static/css/index.css?q={{ time }}" />
{% endblock %}


{% block content %}
    <!-- table -->
    <div class="table-responsive" style="background-color:white;padding:20px;border-radius:10px;">
        <h2>Completed</h2><br/>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width:50px;">Type</th>
                    <th scope="col" style="width:120px;">Date Mailed</th>
                    <th scope="col">Account</th>
                    <th scope="col">Platform</th>
                    <th scope="col" style="width:200px;">Giving</th>
                    <th scope="col" style="width:200px;">Getting</th>
                    <th scope="col" style="width:120px;">Status</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for item in range(item_list|length) %}
                    <tr class="hello" data-href="/item/{{item+1}}">
                        <td>{{item_list[item]['type']}}</td>
                        <td>{{item_list[item]['date']}}</td>
                        <td>{{item_list[item]['account']}}</td>
                        <td>{{item_list[item]['platform']}}</td>
                        <td>{{item_list[item]['giving']}}</td>
                        <td>{{item_list[item]['getting']}}</td>
                        <td>{{item_list[item]['status']}}</td>
                        <td>{{item_list[item]['notes']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<br/>

{% endblock %}