{% extends "loggedin.html" %}

{% block title %}Dashboard - {% endblock %}

{% block styling %}
<link rel="stylesheet" type="text/css" href="static/css/index.css?q={{ time }}" />
{% endblock %}


{% block content %}
    <!-- counters -->
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h1>{{num['pending_num']}}</h1>
                    <h5 class="card-title">Pending</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h1>{{num['otw_num']}}</h1>
                    <h5 class="card-title">On The Way</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h1>{{num['completed_num']}}</h1>
                    <h5 class="card-title">Completed</h5>
                </div>
            </div>
        </div>
    </div>

<div style="display:flex;flex-direction:row;">
    <p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#how-to" aria-expanded="false" aria-controls="collapseExample">
    How to navigate
</button></p>
<form action="/dashboard" method="POST" onsubmit="return confirm('Are you sure you want to clear all entries on this page?');">
        <input type="text" value="clear" style="display:none;">
        <button class="btn btn-primary" type="submit" value="">Clear all</button>
    </form>
</div>

<div class="collapse" id="how-to" style="margin-top:10px;">
  <div class="card card-body">
    Click on an item's row to make changes to the item (edit info, mark as complete, delete). Use the search function to look for any info you desire (ex. "GO", "on the way", a specific member, etc). 
  </div>
</div>

    <!-- table -->
    <div class="table-responsive" style="background-color:white;padding:20px;border-radius:10px;margin-top:20px;">
        <table class="table table-hover tablesorter" id="myTable">
            <thead>
                <tr>
                    <th scope="col" style="width:50px;border-bottom:0px solid #000;">Type</th>
                    <th scope="col" style="width:50px;border-bottom:0px solid #000;">Date Mailed</th>
                    <th scope="col" style="border-bottom:0px solid #000;">Account</th>
                    <th scope="col" style="border-bottom:0px solid #000;">Platform</th>
                    <th scope="col" style="width:200px;border-bottom:0px solid #000;">Giving</th>
                    <th scope="col" style="width:200px;border-bottom:0px solid #000;">Getting</th>
                    <th scope="col" style="width:100px;border-bottom:0px solid #000;">Status</th>
                    <th scope="col" style="width:150px;border-bottom:0px solid #000;">Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for item in range(item_list|length) %}
                    {% if item_list[item]['hidden_status'] !='completed' %}
                    <tr class="hello" data-href="{{url_for('item', number = item+1)}}">
                        <td>{{item_list[item]['type']}}</td>
                        <td>{{item_list[item]['date'][5:7]}}/{{item_list[item]['date'][8::]}}</td>
                        <td>{{item_list[item]['account']}}</td>
                        <td>{{item_list[item]['platform']}}</td>
                        <td>{{item_list[item]['giving']}}</td>
                        <td>{{item_list[item]['getting']}}</td>
                        <td>{{item_list[item]['status']}}</td>
                        <td>{{item_list[item]['notes']}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
<br/><br/>
    <a href="/completed">View Completed</a>
<br/><br/>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
});
</script>

<script>
$(document).ready(function () {
$('#myTable').DataTable();
$('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}