{% extends "loggedin.html" %}

{% block styling %}
<link rel="stylesheet" type="text/css" href="static/css/index.css?q={{ time }}" />
{% endblock %}


{% block content %}
    <!-- counters -->
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h1>{{num['pending_num']}}</h1>
                    <h5 class="card-title">Pending</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h1>{{num['otw_num']}}</h1>
                    <h5 class="card-title">On The Way</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h1>{{num['completed_num']}}</h1>
                    <h5 class="card-title">Completed</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- table -->
    Edit / 
    <form action="/dashboard" method="POST">
        <input type="text" value="clear" style="display:none;">
        <input type="submit" value="Clear all">
    </form>

    <div class="table-responsive" style="background-color:white;padding:20px;border-radius:10px;">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width:50px;">Type</th>
                    <th scope="col" style="width:120px;">Date Mailed</th>
                    <th scope="col">Account</th>
                    <th scope="col">Platform</th>
                    <th scope="col" style="width:200px;">Giving</th>
                    <th scope="col" style="width:200px;">Getting</th>
                    <th scope="col" style="width:120px;">Status</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for item in range(item_list|length) %}
                    <tr class="hello" data-href="{{url_for('item', number = item)}}">
                        <td>{{item_list[item]['type']}}</td>
                        <td>{{item_list[item]['date']}}</td>
                        <td>{{item_list[item]['account']}}</td>
                        <td>{{item_list[item]['platform']}}</td>
                        <td>{{item_list[item]['giving']}}</td>
                        <td>{{item_list[item]['getting']}}</td>
                        <td>{{item_list[item]['status']}}</td>
                        <td>{{item_list[item]['notes']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<br/><br/>
    <a href="/completed">View Completed</a>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}